Source: vboxadm
Section: admin
Priority: extra
Maintainer: Dominik Schulz <dominik.schulz@gauner.org>
Build-Depends: debhelper (>= 7.0.50~), perl (>= 5.10), libdbi-perl, libdbd-mysql-perl, libconfig-std-perl, fakeroot, perltidy, libtest-pod-perl, spamassassin, libnet-imap-client-perl, libcgi-fast-perl, libdigest-perl-md5-perl, libnet-server-perl, libcrypt-generatepassword-perl, libcgi-application-perl, libcgi-application-extra-plugin-bundle-perl, libdata-password-perl, libdata-page-perl, libreadonly-perl, libtemplate-perl, libhtml-clean-perl, libtext-csv-xs-perl, libio-socket-inet6-perl
Standards-Version: 3.8.4
Homepage: http://vboxadm.gauner.org/ 
Vcs-Git: git://git.gauner.org/vboxadm-debian.git
Vcs-Browser: http://git.gauner.org/vboxadm-debian.git/

Package: vboxadm
Architecture: all
Depends: vboxadm-cgi (= ${binary:Version}), vboxadm-sa (= ${binary:Version}), vboxadm-vacation (= ${binary:Version}), vboxadm-ma (= ${binary:Version})
Recommends: postfix-mysql, mysql-server, postfix-pcre, postgrey
Suggests: roundcube, roundcube-mysql, dovecot-common | courier-authlib-mysql
Description: Virtual Mail hosting management interface
 VBoxAdm is a web interface to manage virtual domains and mailboxes
 for a mail transfer agent like Postfix or Exim. The web interface
 is written in Perl. It relies on a MySQL database and ships
 with its own anti-spam SMTP-Proxy and vacation auto-responder.
 .
 It supports per-domain admins to delegate the management of domains
 to dedicated domain administrators.
 .
 Users can change their password and vacation status through
 Roundcube plugins.
 .
 It provides easy integration with the Dovecot and Courier
 Mailservers.
 .
 This is a meta-package that depends on all other components.

Package: vdnsadm
Architecture: all
Depends: vdnsadm-cgi (= ${binary:Version})
Suggests: mysql-server, pdns-backend-mysql
Description: Virtual DNS Hosting management interface
 VDnsAdm is a web interface to manage nameservers
 with a MySQL backend, like PowerDNS.
 .
 This is a meta-package that depends on all other components.

Package: vboxadm-common
Architecture: all
Depends: perl (>= 5.10), ${perl:Depends}, libdbi-perl, libdbd-mysql-perl, libconfig-std-perl, adduser, debconf, libtext-csv-xs-perl | libtext-csv-perl, liblocale-maketext-perl, libnet-imap-perl, libreadonly-xs-perl, libnet-imap-client-perl, libtext-levenshtein-perl, libio-socket-inet6-perl, libmoose-perl, libnamespace-autoclean-perl, vwebadm-common (= ${binary:Version})
Recommends: postfix-mysql, mysql-server 
Suggests: roundcube, roundcube-mysql, dovecot-common | courier-authlib-mysql
Description: Virtual Mail hosting management interface
 VBoxAdm is a web interface to manage virtual domains and mailboxes
 for a mail transfer agent like Postfix or Exim. The web interface
 is written in Perl. It relies on a MySQL database and ships
 with its own anti-spam SMTP-Proxy and vacation auto-responder.
 .
 It supports per-domain admins to delegate the management of domains
 to dedicated domain administrators.
 .
 Users can change their password and vacation status through
 Roundcube plugins.
 .
 It provides easy integration with the Dovecot and Courier
 Mailservers.
 .
 This package contains common libs, docs and localization.

Package: vboxadm-cgi
Architecture: all
Depends: vboxadm-common (= ${binary:Version}), perl (>= 5.10), ${perl:Depends}, libdbi-perl, libdbd-mysql-perl, libconfig-std-perl, libcgi-application-perl, libcgi-application-basic-plugin-bundle-perl, libcgi-application-extra-plugin-bundle-perl, famfamfam-silk-png, libtemplate-perl, libhtml-clean-perl, libtemplate-perl, libcrypt-generatepassword-perl, libdata-password-perl, lighttpd | apache2 | httpd-cgi, debconf, libtext-csv-xs-perl | libtext-csv-perl, libdigest-md5-perl, libdigest-sha-perl, libdata-page-perl, libcgi-fast-perl, libdigest-perl-md5-perl
Suggests: roundcube, roundcube-mysql, dovecot-common | courier-authlib-mysql
Description: Virtual Mail hosting management interface
 VBoxAdm is a web interface to manage virtual domains and mailboxes
 for a mail transfer agent like Postfix or Exim. The web interface
 is written in Perl. It relies on a MySQL database and ships
 with its own anti-spam SMTP-Proxy and vacation auto-responder.
 .
 It supports per-domain admins to delegate the management of domains
 to dedicated domain administrators.
 .
 Users can change their password and vacation status through
 Roundcube plugins.
 .
 It provides easy integration with the Dovecot and Courier
 Mailservers.
 .
 This package contains the frontend.

Package: vboxadm-sa
Architecture: all
Depends: vboxadm-common (= ${binary:Version}), perl (>= 5.10), ${perl:Depends}, libdbi-perl, libdbd-mysql-perl, libconfig-std-perl, libnet-server-perl, debconf, spamassassin, liblog-dispatch-perl
Recommends: postfix-mysql, mysql-server 
Suggests: roundcube, roundcube-mysql, dovecot-common | courier-authlib-mysql
Description: Virtual Mail hosting management interface
 VBoxAdm is a web interface to manage virtual domains and mailboxes
 for a mail transfer agent like Postfix or Exim. The web interface
 is written in Perl. It relies on a MySQL database and ships
 with its own anti-spam SMTP-Proxy and vacation auto-responder.
 .
 It supports per-domain admins to delegate the management of domains
 to dedicated domain administrators.
 .
 Users can change their password and vacation status through
 Roundcube plugins.
 .
 It provides easy integration with the Dovecot and Courier
 Mailservers.

Package: vboxadm-vacation
Architecture: all
Depends: vboxadm-common (= ${binary:Version}), perl (>= 5.10), ${perl:Depends}, libdbi-perl, libdbd-mysql-perl, libconfig-std-perl, debconf, postfix | mail-transfer-agent
Recommends: postfix-mysql, mysql-server 
Suggests: roundcube, roundcube-mysql, dovecot-common | courier-authlib-mysql
Description: Virtual Mail hosting management interface
 VBoxAdm is a web interface to manage virtual domains and mailboxes
 for a mail transfer agent like Postfix or Exim. The web interface
 is written in Perl. It relies on a MySQL database and ships
 with its own anti-spam SMTP-Proxy and vacation auto-responder.
 .
 It supports per-domain admins to delegate the management of domains
 to dedicated domain administrators.
 .
 Users can change their password and vacation status through
 Roundcube plugins.
 .
 It provides easy integration with the Dovecot and Courier
 Mailservers.
 .
 This package provides the vacation auto-responder.

Package: vboxadm-ma
Architecture: all
Depends: vboxadm-common (= ${binary:Version}), perl (>= 5.10), ${perl:Depends}, libdbi-perl, libdbd-mysql-perl, libconfig-std-perl, libnet-server-perl, debconf
Recommends: mysql-server 
Description: Virtual Mail hosting management interface
 VBoxAdm is a web interface to manage virtual domains and mailboxes
 for a mail transfer agent like Postfix or Exim. The web interface
 is written in Perl. It relies on a MySQL database and ships
 with its own anti-spam SMTP-Proxy and vacation auto-responder.
 .
 It supports per-domain admins to delegate the management of domains
 to dedicated domain administrators.
 .
 Users can change their password and vacation status through
 Roundcube plugins.
 .
 This package provides the mailarchive.

Package: vdnsadm-common
Architecture: all
Depends: perl (>= 5.10), ${perl:Depends}, libdbi-perl, libdbd-mysql-perl, libconfig-std-perl, adduser, debconf, liblocale-maketext-perl, libreadonly-xs-perl, libmoose-perl, libnamespace-autoclean-perl, vwebadm-common (= ${binary:Version})
Description: Virtual DNS Hosting management interface
 VDnsAdm is a web interface to manage nameservers
 with a MySQL backend, like PowerDNS.
 .
 This package contains common libs, doc and localization.

Package: vdnsadm-cgi
Architecture: all
Depends: vdsnadm-common (= ${binary:Version}), perl (>= 5.10), ${perl:Depends}, libdbi-perl, libdbd-mysql-perl
Description: Virtual DNS Hosting management interface
 VDnsAdm is a web interface to manage nameservers
 with a MySQL backend, like PowerDNS.
 .
 This package contains the frontend.

Package: vwebadm-common
Architecture: all
Depends: perl (>= 5.10), ${perl:Depends}, libdbi-perl, libdbd-mysql-perl, libconfig-std-perl, debconf, liblocale-maketext-perl, libreadonly-xs-perl, libmoose-perl, libnamespace-autoclean-perl
Description: Virtual Web Management Framework
 VWebAdm is a virtual web management framework
 used to build VBoxAdm and VDnsAdm.
 .
 This package contains common libs.

