Source: vboxadm
Section: admin
Priority: extra
Maintainer: Dominik Schulz <dominik.schulz@gauner.org>
Build-Depends: debhelper (>= 7.0.50~), perl (>= 5.8), libdbi-perl, libdbd-mysql-perl, libconfig-std-perl, fakeroot, perltidy, libtest-pod-perl, libmail-sender-perl
Standards-Version: 3.8.4
Homepage: http://vboxadm.gauner.org/ 
#Vcs-Git: git://git.debian.org/collab-maint/vboxadm.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/vboxadm.git;a=summary

Package: vboxadm
Architecture: all
Depends: vboxadm-cgi (= ${binary:Version}), vboxadm-sa (= ${binary:Version}), vboxadm-vacation (= ${binary:Version})
Recommends: postfix-mysql, mysql-server 
Suggests: roundcube, roundcube-mysql, dovecot-common | courier-authlib-mysql
Description: Virtual Mail hosting management interface
 VBoxAdm is a web interface to manage virtual domains and mailboxes
 for a mail transfer agent like Postfix or Exim. The web interface
 is written in Perl. It relies on a MySQL database and ships
 with its own anti-spam SMTP-Proxy and vacation auto-responder.
 .
 It supports per-domain admins to delegate the management of domains
 to dedicated domain administrators.
 .
 Users can change their password and vacation status through
 Roundcube plugins.
 .
 It provides easy integration with the Dovecot and Courier
 Mailservers.
 .
 This is a meta-package that depends on all other components.

Package: vboxadm-common
Architecture: all
Depends: perl (>= 5.8), ${perl:Depends}, libdbi-perl, libdbd-mysql-perl, libconfig-std-perl, adduser, debconf, libtext-csv-xs-perl | libtext-csv-perl, liblocale-maketext-perl
Recommends: postfix-mysql, mysql-server 
Suggests: roundcube, roundcube-mysql, dovecot-common | courier-authlib-mysql
Description: Virtual Mail hosting management interface
 VBoxAdm is a web interface to manage virtual domains and mailboxes
 for a mail transfer agent like Postfix or Exim. The web interface
 is written in Perl. It relies on a MySQL database and ships
 with its own anti-spam SMTP-Proxy and vacation auto-responder.
 .
 It supports per-domain admins to delegate the management of domains
 to dedicated domain administrators.
 .
 Users can change their password and vacation status through
 Roundcube plugins.
 .
 It provides easy integration with the Dovecot and Courier
 Mailservers.
 .
 This package contains common libs, docs and localization.

Package: vboxadm-cgi
Architecture: all
Depends: vboxadm-common (= ${binary:Version}), perl (>= 5.8), ${perl:Depends}, libdbi-perl, libdbd-mysql-perl, libconfig-std-perl, libcgi-application-perl, libcgi-application-basic-plugin-bundle-perl, libcgi-application-extra-plugin-bundle-perl, famfamfam-silk-png, libtemplate-perl, libhtml-clean-perl, libtemplate-perl, libcrypt-generatepassword-perl, libdata-password-perl, lighttpd | apache2 | httpd-cgi, debconf, libtext-csv-xs-perl | libtext-csv-perl
Suggests: roundcube, roundcube-mysql, dovecot-common | courier-authlib-mysql
Description: Virtual Mail hosting management interface
 VBoxAdm is a web interface to manage virtual domains and mailboxes
 for a mail transfer agent like Postfix or Exim. The web interface
 is written in Perl. It relies on a MySQL database and ships
 with its own anti-spam SMTP-Proxy and vacation auto-responder.
 .
 It supports per-domain admins to delegate the management of domains
 to dedicated domain administrators.
 .
 Users can change their password and vacation status through
 Roundcube plugins.
 .
 It provides easy integration with the Dovecot and Courier
 Mailservers.
 .
 This package contains the frontend.

Package: vboxadm-sa
Architecture: all
Depends: vboxadm-common (= ${binary:Version}), perl (>= 5.8), ${perl:Depends}, libdbi-perl, libdbd-mysql-perl, libconfig-std-perl, libnet-server-perl, debconf, spamassassin
Recommends: postfix-mysql, mysql-server 
Suggests: roundcube, roundcube-mysql, dovecot-common | courier-authlib-mysql
Description: Virtual Mail hosting management interface
 VBoxAdm is a web interface to manage virtual domains and mailboxes
 for a mail transfer agent like Postfix or Exim. The web interface
 is written in Perl. It relies on a MySQL database and ships
 with its own anti-spam SMTP-Proxy and vacation auto-responder.
 .
 It supports per-domain admins to delegate the management of domains
 to dedicated domain administrators.
 .
 Users can change their password and vacation status through
 Roundcube plugins.
 .
 It provides easy integration with the Dovecot and Courier
 Mailservers.

Package: vboxadm-vacation
Architecture: all
Depends: vboxadm-common (= ${binary:Version}), perl (>= 5.8), ${perl:Depends}, libdbi-perl, libdbd-mysql-perl, libconfig-std-perl, debconf, postifx | mail-transfer-agent
Recommends: postfix-mysql, mysql-server 
Suggests: roundcube, roundcube-mysql, dovecot-common | courier-authlib-mysql
Description: Virtual Mail hosting management interface
 VBoxAdm is a web interface to manage virtual domains and mailboxes
 for a mail transfer agent like Postfix or Exim. The web interface
 is written in Perl. It relies on a MySQL database and ships
 with its own anti-spam SMTP-Proxy and vacation auto-responder.
 .
 It supports per-domain admins to delegate the management of domains
 to dedicated domain administrators.
 .
 Users can change their password and vacation status through
 Roundcube plugins.
 .
 It provides easy integration with the Dovecot and Courier
 Mailservers.
 .
 This package provides the vacation auto-responder.
